@media screen and (max-width: 1250px) {
    .mainWrap {
        max-height: none;
        max-height: ;
    }
    .mediaWrap {
        flex-direction: column;
    }
    .mediaWrap .mediaVideo {
        width: 100%;
    }
    .mediaWrap .mediaChat {
        width: 100%;
    }
}
