/* 로고 말풍선 css */
.ballon {
    position: relative;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #cfe2ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ballon img {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    z-index: 5;
}

.ballon:after {
    border-bottom: 20px solid #cfe2ff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0px solid transparent;
    content: '';
    position: absolute;
    bottom: 4px;
    right: -1px;
    transform: rotate(16deg);
}

.avatar {
    position: relative;
    z-index: 1;
}

.avatar::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    content: '';
    background-color: #99bbff;
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: 50%;
}
.avatar img {
    position: relative;
    z-index: 1;
    object-fit: cover;
}

.chatAvatar {
    position: relative;
    z-index: 1;
}
.chatAvatar::after {
    position: absolute;
    top: 50%;
    left: 46.4%;
    width: 42px;
    height: 42px;
    content: '';
    background-color: #99bbff;
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: 50%;
}
.chatAvatar img {
    position: relative;
    z-index: 1;
    object-fit: cover;
}
